rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users Collection Rule
    match /users/{userId} {
      allow read, create, update, write, delete: if true;
    }

    // Real-Time SOS Requests Collection Rule
    match /sos_requests/{requestId} {
      allow read, create, update, write, delete: if true;
    }
    
    // Legacy SOS Collection Rule
    match /sos/{docId} {
      allow read, create, update, write, delete: if true;
    }
  }
}
